@import "tailwindcss";

@layer base {
  :root {
    --font-sans: var(--font-plus-jakarta-sans), ui-sans-serif, system-ui, sans-serif;
    --font-serif: var(--font-newsreader), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --background: #FBF9F6;
    --foreground: #07241A;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }
}

.font-serif {
  font-family: var(--font-serif);
}

.font-sans {
  font-family: var(--font-sans);
}
